<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<!--<header>-->
<!--  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Finai.kg%2Fogassets%2Fog-image.jpg&f=1&nofb=1&ipt=b3a45056c6bb49c42fef8fa79149ec728cfc8dc4da31188ac4ea1291b72dab68&ipo=images" width="100" height="100">-->
<!--<a href="http://127.0.0.1:8000/admin/login/?next=/admin/"><button><h2>Admin site</h2></button></a>-->
<!--</header>-->
<center>
  <img src="{{data.image.url}}" alt="" width="200" height="200">
  <h1><b>Имя</b> - {{data.name}}</h1>
  <p><b>Фамилия</b> - {{data.surname}}</p>
  <p><b>Группа</b> - <i>{{data.group}}</i></p>
</center>

<div class="container">
  <h2 class="text-center"><u>Табель</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>


        <th>Предмет</th>
        <th>Семестр 1</th>
        <th>Семестр 2</th>
        <th>Средний балл</th>

      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if profile %}
    {% for i in profile %}
      <tr>

        <td>{{i.subject}}</td>
        <td>{{i.semestr1}}</td>
        <td>{{i.semestr2}}</td>
        <td>{{i.average}}</td>

      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

</body>
</html>

